@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&family=Roboto:wght@300;400;500&display=swap');
nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 120px;
}
nav a{
    padding: 15px;
    color: #000;
}