/* html {
    min-height: 100vh;
    background-color: #e9d8a6ff;
} */

/* NAV MENU */
nav a {
    padding: 15px;
}

/* LOADING ANIMATION */
.loader {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 20%;
    /*background-color: mediumpurple;*/
}
.loader p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 6em;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 1px gray;
}
.loader  p:nth-child(1) {
    animation: hover 2.5s linear infinite;
}
.loader  p:nth-child(2) {
    animation: hover 2.5s linear infinite .125s;
}
.loader  p:nth-child(3) {
    animation: hover 2.5s linear infinite .25s;
}
.loader  p:nth-child(4) {
    animation: hover 2.5s linear infinite .375s;
}
.loader p:nth-child(5) {
    animation: hover 2.5s linear infinite .5s;
}
.loader  p:nth-child(6) {
    animation: hover 2.5s linear infinite .675s;
}
.loader  p:nth-child(7) {
    animation: hover 2.5s linear infinite .75s;
}
@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: hotpink;
        -webkit-text-stroke: 3px red;
        filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }
}

/* MAIN PAGE STYLING */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SEARCH DIV */
#mainSearchDiv{
    display: flex;
}
#mainTitle{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 100px;
}
#searchBar{
    padding: 10px 16px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 0;
	background-color: rgba(237, 231, 212, 1);  
    font-family: 'Roboto', sans-serif; 
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance: none;
}

/* CATEGORY LABELS */
.btn-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin:50px;
}
.filter-btn{
    display: inline-block;
	text-align: center;
    text-transform: uppercase;
	padding: 12px 20px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 13px;
	border-radius: 25px;
}
.filter-btn[data-id="1"]{
    background-color: #ae2012ff;
	border: 2px solid #ae2012ff;
}
.filter-btn[data-id="2"]{
	background-color: #ca6702ff;
	border: 2px solid #ca6702ff;
}
.filter-btn[data-id="3"]{
	background-color: #ee9b00ff;
	border: 2px solid #ee9b00ff;
}
.filter-btn[data-id="4"]{
    background-color: #0a9396ff;
	border: 2px solid #0a9396ff;
}
.filter-btn[data-id="5"]{
	background-color: #005f73ff;
	border: 2px solid #005f73ff;
}
.filter-btn[data-id="all"]{
	background-color: rgb(176, 155, 120);
	border: 2px solid rgb(176, 155, 120);
}

/* BLOG POST LIST */
.mainPostDiv{
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 90%;
}
.main-post-header{
    margin-left: 12px;
    font-size: 28px;
}
.post-list{
    align-items: center;
    background-color: #c6bb99ff;
	border-radius: 20px;
	padding: 1.5em;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	-moz-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	
}
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
	overflow-y: auto;
    /* max-height: ; */
}