html {
    min-height: 100vh;
    background-color: slategrey;
}
table {
    border: 1px solid black;
}
th {
   border-bottom: 3px solid black;
}
td {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 0.5px solid black;
}
nav a {
    padding: 15px;
}
.loader {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 20%;
    /*background-color: mediumpurple;*/
}

.loader p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 6em;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 1px gray;
}

.loader  p:nth-child(1) {
    animation: hover 2.5s linear infinite;
}

.loader  p:nth-child(2) {
    animation: hover 2.5s linear infinite .125s;
}

.loader  p:nth-child(3) {
    animation: hover 2.5s linear infinite .25s;
}

.loader  p:nth-child(4) {
    animation: hover 2.5s linear infinite .375s;
}

.loader p:nth-child(5) {
    animation: hover 2.5s linear infinite .5s;
}

.loader  p:nth-child(6) {
    animation: hover 2.5s linear infinite .675s;
}

.loader  p:nth-child(7) {
    animation: hover 2.5s linear infinite .75s;
}
@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: hotpink;
        -webkit-text-stroke: 3px red;
        filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }
}
footer {
    text-align: center;
    position: absolute;
    width: 95%;
    min-height: 15px;
    bottom: 0;
}

/*-----------------------------------------------------------------*/

.post-feature {
    padding: 24px;
    background-color: rgba(245, 245, 245, 0.5);
    -webkit-transition: 0.1s all linear;
    transition: 0.1s all linear;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.post-feature span.fs-6 {
    font-family: "Poppins", sans-serif;
    padding-left: 32px;
    color: #272343;
}

.has-line {
    position: relative;
}

@media (max-width: 420px)
    .fs-6 {
        font-size: 14px !important;
    }

    .has-line::after {
        position: absolute;
        content: '';
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        background-color: #FB743E;
        height: 2px;
        width: 24px;
    }


    *, ::after, ::before {
        box-sizing: border-box;
    }

    .post-feature:hover {
        background-color: #FB743E;
    }

    .post-feature:hover .dot,
    .post-feature:hover .has-line::after {
        background-color: white;
    }

    .post-feature:hover .btn-link svg,
    .post-feature:hover .btn-link,
    .post-feature:hover span,
    .post-feature:hover h6 a,
    .post-feature:hover span.fs-6 {
        color: white;
    }
    .featured-category-item a:hover {
        background-color: #FB743E;
        color: white;
    }
    .all-tags-list a:hover {
        background-color: #FB743E;
        color: white;
    }
    .slick-prev:hover::before {
        color: white;
    }

    .slick-next:hover::before {
        color: white;
    }

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        background-color: #FB743E;
    }