@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

body{
	background-color: #e9d8a6ff;
}

/* MAIN CONTAINER */
header{
	font-size: 50px;
	font-weight: 700;
	margin-left: 85px;
	margin-bottom: 75px;
}
.userContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   column-gap: 3em;
}

/* USER INFO */
.userLeftDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	row-gap: 2.5em;
}
.userInfoDiv{
	display: flex;
	width: 100%;
	height: 170px;
	background-color: #c6bb99;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	-moz-box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	padding: 1.5em;
	@media screen and (min-width: 768px) {
		padding: 2.5em;
	}
}
.user-img-box{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width:125px;
	max-height:125px;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	margin-top:0px;
	margin-right:25px;
	margin-bottom:0px;
	margin-left:0px;
}
.user-img{
	width:85%;
	height:85%;
}
.usernameDiv{
	margin-top: auto;
	margin-left: 1em;
}
.username-header{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 0px;
}

/* NEW POST FORM */
.newPostDiv {
	margin: 0;
	width: 100%;
	@media screen and (min-width: 768px) {
		padding: 3em;
	}
}
form {
	background-color: #c6bb99ff;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px 20px 0px  rgb(161, 153, 134);
	-moz-box-shadow: 5px 5px 20px 0px  rgb(161, 153, 134);
	box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	padding: 1.5em;
	@media screen and (min-width: 768px) {
		padding: 2.5em;
	}
}
h2 {
	font-family: 'Nunito', sans-serif;
    font-weight: 600;
	font-size: 28px;
	padding: 0;
	margin-bottom: 20px;
}
label {
	display: block;
	margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
input, select {
	padding: 10px 16px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 0;
	background-color: rgba(237, 231, 212, 1);  
    font-family: 'Roboto', sans-serif; 
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance: none;
}
.radio-toolbar {
	margin: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}
.radio-toolbar label {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 17px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 13px;
	border-radius: 25px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.radio-toolbar label[for="radioDataScience"] {
	background-color: #ae2012ff;
	border: 2px solid #ae2012ff;
}
.radio-toolbar label[for="radioGenerativeArt"] {
	background-color: #ca6702ff;
	border: 2px solid #ca6702ff;
}
.radio-toolbar label[for="radioLanguages"] {
	background-color: #ee9b00ff;
	border: 2px solid #ee9b00ff;
}
.radio-toolbar label[for="radioUiUxDesign"] {
	background-color: #0a9396ff;
	border: 2px solid #0a9396ff;
}
.radio-toolbar label[for="radioWebDevelopment"] {
	background-color: #005f73ff;
	border: 2px solid #005f73ff;
}
.radio-toolbar label:hover {
	background-color: #ece5da;
}
.radio-toolbar input[type="radio"]:focus + label{
	border: 2px dashed rgb(176, 155, 120);
}
.radio-toolbar input[type="radio"]:checked + label {
	background-color: #ece5da;
	/* border-color: #4c4; */
}
.textarea-div {
	width: 100%;
}
textarea {
	padding: 10px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
    margin-right: 30px;
	border-radius: 20px;
	border: 0;
	background-color:rgba(237, 231, 212, 1);
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
	height: 150px;
}
.submit-btn { 
	background-color: rgb(176, 155, 120);
	padding: 12px 15px;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 20px;
	transition: 0.3s all ease;
}
.submit-btn:hover {
    background-color: #ece5da;
}
@media screen and (min-width: 700px) {
	.large-group {
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
	}
	.small-group {
		width: 75%;
	}
}

/* USER POST HISTORY */
.userRightDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
}
.userPostHistory{
	display: flex;
	flex-direction: column;
	background-color: #c6bb99ff;
	border-radius: 20px;
	padding: 1.5em;
	-webkit-box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	-moz-box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	box-shadow: 5px 5px 20px 0px rgb(161, 153, 134);
	@media screen and (min-width: 768px) {
		padding: 2.5em;
	}
}
.blog-history-header{
	padding-bottom: 5px;
	margin: 10px;
}
.scrollableDiv{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 700px;
}

