/* // Colors
$green: #0DFF82;
$blue: #2FECF7;
$gray: #ededed; */

/* * {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
} */

.newPostDiv {
	margin: 0;
	height: 100%;
	padding: 1.5em;
	@media screen and (min-width: 768px) {
		padding: 3em;
	}
}

form {
	background-color: white;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	-moz-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	padding: 1.5em;
	@media screen and (min-width: 768px) {
		padding: 2.5em;
	}
}

h2 {
	font-family: 'Nunito', sans-serif;
    font-weight: 600;
    /* text-align: left; */
	font-size: 28px;
	padding: 0;
	margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
	.large-group {
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
	.small-group {
		width: 45%;
	}
}

label {
	display: block;
	margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

input, select {
	padding: 10px 16px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 0;
	background-color: #ededed;  
    font-family: 'Roboto', sans-serif; 
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance: none;
}

.radio-toolbar {
	margin: 0px;
}
  
.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.radio-toolbar label {
	display: inline-block;
	background-color: #ddd;
	padding: 10px 17px;
	font-family: sans-serif, Arial;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 25px;
}

.radio-toolbar label:hover {
	background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label{
	border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
	background-color: #bfb;
	border-color: #4c4;
}

.textarea-div {
	width: 100%;
}

textarea {
	padding: 10px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
    margin-right: 30px;
	border-radius: 20px;
	border: 0;
	background-color: #ededed;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
	height: 100px;
}

.btn { 
	background-color: #0DFF82;
	padding: 12px 15px;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 20px;
	transition: 0.3s all ease;
}

.btn:hover {
    background-color: #2FECF7;
}
